@using Market.Models.DTO
@model OrderDTO

<div class="offer-partial-container denied">
    <div>
        <h2>@(Model.Title + " | " + Model.Address)</h2>
        <p>@(Model.Price + "BGN, " + Model.Quantity + "KG")</p>
    </div>

</div>