@using Market.Data.Models
@model List<Purchase>
@{
    ViewData["Title"] = "History";
    Dictionary<int, Dictionary<int, string>>? imageUrls = ViewBag.imageURLs as Dictionary<int, Dictionary<int, string>>;
}

<div class="history-container">
    <h1>History</h1>
    <div class="history-purchases-container">
        @foreach (var purchase in Model)
        {
            <partial name="_HistoryPurchasePartial" model="@new HistoryPurchaseViewModel(purchase, imageUrls[purchase.Id])" />
        }
    </div>

</div>

<script defer>
    function setGradient() {
        let divs = document.getElementsByClassName('history-purchase');

        for(let item of divs)
        {
            let percentage = item.getAttribute("data-percentage");
            let id = item.getAttribute("data-id");
            item.style.background = `linear-gradient(to right, #69f0ae ${percentage}%, #ffffff ${percentage}%)`;

            item.addEventListener("click", function() {
                document.getElementById(id).classList.toggle("active");
            });
            
        }
    }

    window.addEventListener('load', function () {
        setGradient();
    });
    
</script>
