@model Market.Models.BillingDetailsViewModel

@{
    ViewData["Title"] = "Billing";
}

<form asp-action="Add" asp-controller="Billing" method="post" class="form">
    <h2>Billing Details</h2>

    <div class="form-container">
        <input placeholder="Full Name" asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-container">
        <input placeholder="Address" asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-container">
        <input placeholder="City" asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-container">
        <input placeholder="Postal Code" asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>

    <div class="form-container">
        <input placeholder="Phone Number" asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-container">
        <input placeholder="Email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="form-submit">Submit</button>
</form>


