.profile-section{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.profile-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.profile-main {
    width: 100%;
    display: flex;
    gap: 12px;
    max-width: 65vw;
    justify-content: center;
    align-items: center;
}

.profile-info-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--background-light);
    border-radius: 10px;
    padding: 24px;
    width: 100%;
    min-width: 33%;
}

.organization-profile{
    width: auto !important;
}

.profile-info-container hr {
    color: var(--font-dark);
    margin: 16px 0px 24px 0px;
    width: 99%;
}

.profile-header{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: auto;
}

.profile-picture{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture-text{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.profile-header-text__name{
    font-size: 32px;
}

.profile-header-text__description{
    font-size: 20px;
}


.profile-details{
    display: flex;
    flex-flow: column;
    align-items: start;
    width: 100%;
    gap: 20px;
}

.profile-data-container{
    display: flex;
    flex-flow: row;
    align-items: end;
    justify-content: left;
    gap: 12px;
    padding-left: 10px;

}

.profile-data-container i{
    font-size: 32px;
    width: 32px !important;
    height: auto;

}

 .profile-data-container h3{
     font-weight: normal;
     font-size: 22px;
 }

.profile-stats-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 12px;
}

.profile-stats {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--background-light);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 100% !important;
}

.incomeChart{
    height: 100%;
}

.profile-stats .chart-container{
    height: auto !important;
    min-height: 0 !important;
}

.profile-summary-container {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;
    background: var(--background-light);
    border-radius: 10px;
    padding: 24px 24px;
    padding-top: 62px;
    width: 100%;
    height: 100%;
}

.profile-summary-header__title{
    font-size: 32px;
}

.profile-summary-header-rating-container {
    display: flex;
}

.profile-summary-header{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 32px;
    width: 100%;
}

.profile-summary-container hr {
    color: var(--font-dark);
    margin: 16px 0px 24px 0px;
    width: 99%;
}

.profile-footer {
    display: flex;
    gap: 12px;
    width: 100%;
    max-width: 65vw
}

.profile-footer-widget-container {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;
    background: var(--background-light);
    border-radius: 10px;
    padding: 24px 24px;
    width: 100%;
    width: inherit;
}

.profile-footer-widget-container hr {
    color: var(--font-dark);
    margin: 16px 0px 24px 0px;
    width: 99%;
}

.profile-footer-offers {
    width: 100%;
    max-height: 200px;
    padding: 12px 12px;
}

.profile-footer-reviews {
    width: 100%;
    max-height: 200px;
    padding: 12px 12px;
}

@media screen and (max-width: 900px) {
    .profile-container{
        justify-content: normal;
        height: auto;
    }

    .profile-main {
        flex-flow: column;
        width: 100% !important;
        justify-content: normal;
        max-width: none;
    }
    .profile-footer {
        flex-flow: column;
        width: 100% !important;
        justify-content: normal;
        max-width: none;
    }

    .profile-info-container{
        width: 100%;
    }

    .profile-footer-widget-container{
        height: 400px;
        max-height: none;
        overflow-y: scroll;
    }

    .profile-footer-reviews{
        height: 100%;
    }

    .profile-footer-offers{
        height: 100%;
    }

    .profile-summary-container{
        padding: 24px;
    }
}