@using Market.Data.Models
@using Market.Services
@model AddOrganizationViewModel
@{
    ViewData["Title"] = "Register Organization";

}

<form class="form" asp-action="RegisterOrganization" asp-controller="User" method="post" enctype="multipart/form-data">
    <div class="form-container">
        <label class="custom-file-upload" for="image-input">Select Image</label>
        <input id="image-input" asp-for="File" type="file" name="file" required />
    </div>
    <div class="form-container">
        <img id="image-display" src="~/Images/image-display-alt.png" />
    </div>
    <div class="form-container">
        <input asp-for="User.OrganizationName" placeholder="Organization Name" aria-required="true" />
        <span asp-validation-for="User.OrganizationName" class="text-danger"></span>
    </div>
    <div class="form-container">
        <input asp-for="User.Town" placeholder="Town" aria-required="true" />
        <span asp-validation-for="User.Town" class="text-danger"></span>
    </div>
    <div class="form-container">
        <input asp-for="User.Email" placeholder="Email" aria-required="true" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>
    <div class="form-container">
        <input asp-for="User.PhoneNumber" placeholder="Phone Number" aria-required="true" />
        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-container">
        <input asp-for="User.Description" placeholder="Description" aria-required="true" />
        <span asp-validation-for="User.Description" class="text-danger"></span>
    </div>
    <div class="form-container">
        <input asp-for="User.Password" placeholder="Password" aria-required="true" />
        <span asp-validation-for="User.Password" class="text-danger"></span>
    </div>
    <button class="custom-file-upload" type="submit">Submit</button>
</form>

<script>
    function displayImage() {
        var file = document.getElementById('image-input').files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            var image = document.createElement("img");
            document.getElementById("image-display").src = e.target.result;
        }
        reader.readAsDataURL(file);
    }

    document.getElementById("image-input").onchange = () => {
        displayImage();
    };
</script>