<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Онлайн фермерски пазар - приложение и уебсайт">
    <meta name="keywords" content="фермерски пазар, плодове, зеленчуци, плодове и зеленчуци, производители, купи">
    <meta name="author" content="Габриел Горанов">
    <meta property="og:title" content="Фермерски Пазар">
    <meta property="og:description" content="Онлайн фермерски пазар - приложение и уебсайт">

    <link rel="icon" type="image/x-icon" src="/images/favicon.png">
    <title>@ViewData["Title"] - Market</title>
    <link href="~/manifest.json" rel="manifest" />
    <link rel="stylesheet" href="~/css/landing.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
