@using Market.Data.Models
@using Market.Services
@using Market.Services.Cart
@inject IUserService service
@inject ICartService cartService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    User user = service.GetUser();
    string? orders = cartService?.GetPurchase()?.Count.ToString();
    if (orders == "0" || orders == null) orders = "0"; 
}

<ul class="navbar-nav">
    @if(user != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Profile">@(User.IsInRole("Organization") ? $"{user.OrganizationName}, {user.Town}" : user.Email)</a>
        </li>
        if(User.IsInRole("Organization"))
        {
            <li class="nav-item nav-item-cart">
                <a class="nav-link text-dark " asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping" id="cart-icon"></i></a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">@Localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">@Localizer["Login"]</a>
        </li>
    }
    
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var styleSheet = document.styleSheets[0]; 
    styleSheet.insertRule('#cart-icon::after { content: "' + @orders + '"; }', styleSheet.cssRules.length);

</script>

