@using Market.Data.Models
@model Review


<div class="offer-partial-container">
    <div class="review">
        <h2>@(Model.FirstName + " " + Model.Rating.ToString() + " ★")</h2>
        <p class="review-description">@Model.Description</p>
    </div>
</div>
