@using Market.Models.DTO
@model List<OrderDTO>


<div class="chart-container">
    <canvas class="incomeChart" id="incomeChart"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    var ctx = document.getElementById('incomeChart').getContext('2d');
    var totalIncome = @Html.Raw(Json.Serialize(Model.Where(x => x.Status == "Accepted").Select(m => m.Price).Sum().ToString()));
    var incomeChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Serialize(Model.Where(x => x.Status == "Accepted").Select(m => m.DateOrdered.ToString("MM-dd")))),
            datasets: [{
                label: `Orders, Income: ${totalIncome}`,
                data: @Html.Raw(Json.Serialize(Model.Where(x => x.Status == "Accepted").Select(m => m.Price))),
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: { display: true },
                y: { display: true }
            }
        }
    });


</script>