@using Market.Data.Models
@using Market.Services
@using Market.Services.Inventory
@model AddOfferViewModel
@inject IInventoryService _inventoryService;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Offers";

}

<form class="form" asp-action="AddOffer" method="post" enctype="multipart/form-data">
    <div class="form-container gapped">
        <label class="custom-file-upload" for="image-input">Select Image</label>
        <input id="image-input" asp-for="File" type="file" name="file" required />
        <img id="image-display" src="~/Images/image-display-alt.png"/>
        <input asp-for="Offer.Title" placeholder="Title" aria-required="true" />
        <span asp-validation-for="Offer.Title" class="text-danger"></span>
    </div>
    <div class="form-container">
        <input asp-for="Offer.Town" placeholder="Town" aria-required="true" />
        <span asp-validation-for="Offer.Town" class="text-danger"></span>
    </div>
    <div class ="form-container">
        <input asp-for="Offer.Description" placeholder="Description" aria-required="true" />
        <span asp-validation-for="Offer.Description" class="text-danger"></span>
    </div>
    <div class ="form-container">
        <input asp-for="Offer.PricePerKG" placeholder="Price Per KG" aria-required="true" />
        <span asp-validation-for="Offer.PricePerKG" class="text-danger"></span>
    </div>
    <div class ="form-container">
        <input asp-for="Offer.Discount" placeholder="Discount %" aria-required="true" />
        <span asp-validation-for="Offer.Discount" class="text-danger"></span>
    </div>
    <div class="form-container">
        <select asp-for="Offer.StockId">
            @foreach(Stock stock in _inventoryService.GetSellerStocksAsync().Result)
            {
                <option value="@stock.Id">@stock.Title</option>
            }
        </select>
    </div>
    <button class="form-submit" type="submit">Submit</button>
</form>

<script>
    function displayImage() {
        var file = document.getElementById('image-input').files[0];
        var reader  = new FileReader();
        reader.onload = function(e)  {
            var image = document.createElement("img");
            document.getElementById("image-display").src = e.target.result;
         }
         reader.readAsDataURL(file);
     }

     document.getElementById("image-input").onchange = () => {
         displayImage();
     };
</script>