.search-button {
    border: none;
    color: var(--background-dark);
    background-color: transparent;
}

.search-button:hover {
    cursor: pointer;
}

.search {
    height: var(--font-large);
    padding-left: 12px;
    border-radius: 20px;
    border-color: var(--background-dark);
    width: 325px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    text-decoration: none;
    color: var(--accent);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: var(--font-large);
}