@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* setup */
:root {
    --accent: #4194cb;
    --text-light: #FEFEFE;
    --text-grey: #C7C7C8;
    --text-dark: #000000;
    --background-light: #FEFEFE;
    --background-dark: #1E1E1E;
    --font-mid: 22px;
    --font-big: 42px;
    --font-bigger-mid: 32px;
    --font-large: 62px;
    --font-small: 14px;
    --grey-light: #E9E9E9;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    background: var(--background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--font-large);
    color: var(--text-grey);
    padding: 12px;
    align-items: center;
    position: sticky;
    top: 0;
}

.container {
    display: inherit;
    justify-content: space-between;
    width: 1140px;
    height: 100%;
    color: inherit;
    align-items: center;
}

header h1 {
    color: var(--accent);
}

.link {
    color: var(--accent);
    text-decoration: none;
}

.button {
    background: var(--accent);
    color: var(--text-light);
    padding: 8px 12px 8px 12px;
    border-radius: 12px;
    text-decoration: none;
}

header nav {
    display: flex;
    gap: 22px;
    align-items: center;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 200px;
}

.hero-text-container {
    display: inline-block;
}

    .hero-text-container h1 {
        margin-bottom: 32px;
    }

.title {
    font-size: var(--font-large);
}

.flex-container {
    display: flex;
    width: 100%;
    gap: 40px;
}

.action-button {
    background: var(--accent);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 12px 32px 12px 32px;
    color: var(--text-light);
    text-decoration: none;
    font-size: var(--font-mid);
}

.empty-button {
    background: transparent;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 12px 32px 12px 32px;
    color: var(--text-dark);
    border: 2px solid var(--accent);
    text-decoration: none;
    font-size: var(--font-mid);
}

main {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section:nth-child(2n) {
    background: var(--grey-light);
}

p {
    font-size: var(--font-mid);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

section {
    padding: 40px 0px;
}

h2 {
    font-size: var(--font-big);
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 32px 0px;
}

.card {
    width: 350px;
    height: 500px;
    background: transparent;
    padding: 24px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: black;
}

    .card:nth-child(2n) {
        height: 600px;
    }

.section-container {
    max-width: 1140px;
    text-align: center;
}

.benefits-text {
    text-align: left;
    margin-bottom: 36px;
}

.benefits-text-container {
    width: 70%;
}

.benefits-text:nth-child(2n) {
    text-align: right;
}

.section-container h2 {
    margin-bottom: 62px;
}

footer {
    color: #ecf0f1;
    padding: 30px 0;
    width: 100%;
    height: 400px;
    background: var(--accent);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

    .footer-section h4 {
        font-size: 18px;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

        .footer-section ul li {
            margin-bottom: 10px;
        }

            .footer-section ul li a {
                color: #ecf0f1;
                text-decoration: none;
            }

                .footer-section ul li a:hover {
                    color: yellow;
                }

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #34495e;
}

    .footer-bottom p {
        margin: 0;
    }

        .footer-bottom p a {
            color: #ecf0f1;
            text-decoration: none;
        }

            .footer-bottom p a:hover {
                color: #3498db;
            }

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}


.cta-container {
    text-align: left;
}

    .cta-container h2 {
        margin-bottom: 30px;
        font-size: var(--font-bigger-mid);
    }

.faq-container {
    display: flex;
    flex-flow: column;
    gap: 12px;
    width: 600px;
}

.faq {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-align: left;
    background: var(--grey-light);
    padding: 0px 22px;
    transition: 300ms all ease-in-out;
    overflow: hidden;
    gap: 20px;
    border-radius: 16px;
}

.faq-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 12px 0px 12px 0px;
}

.faq:hover {
    cursor: pointer;
}

.faq i {
    font-size: var(--font-bigger-mid);
}

#faq-section {
    padding: 40px 0px;
    margin-top: 0;
}

.image {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.huge-icon {
    font-size: 158px;
    color: var(--background-dark);
}

.select-language {
    border: none;
    outline: none;
    font-size: 12px;
    color: var(--text-dark);
    width: 100px;
    text-align: center;
    border-radius: 12px;
}

    .select-language:hover {
        cursor: pointer;
    }


.card-title {
    color: var(--accent);
}

#hamburger-nav {
    display: none;
}

#hamburger-icon {
    display: none;
}

.footer-github {
    display: flex;
    gap: 4px;
}

    .footer-github a {
        text-decoration: none;
        color: white;
    }

        .footer-github a:hover {
            color: yellow;
        }


/* Feedback */

#feedback-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.feedback-carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
    scroll-snap-type: x mandatory;
    padding: 10px;
}

.feedback-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 0 0 300px; /* Fixed width for each card */
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    justify-content: center;
}

.feedback-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
}

.rating {
    font-size: 20px;
    color: #ffcc00;
}

.comment {
    text-align: right;
    font-style: italic;
}

@media screen and (max-width: 480px) {
    * {
        max-width: 100vw;
    }

    .feedback-carousel {
        flex-direction: column;
    }

    .feedback-card {
        align-items: center;
        height: 200px;
    }

    .feedback-header {
        align-items: center;
    }

    .comment {
        text-align: center;
    }

    footer {
        align-items: flex-start;
        height: 1000px !important;
        background: var(--accent) !important;
    }

    #hamburger-icon {
        display: inline;
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    #hamburger-nav {
        display: none;
        background: var(--background-dark);
        justify-content: space-between;
        align-items: center;
        position: sticky;
        gap: 6px;
        padding: 12px;
        top: 62px;
    }

    nav {
        display: none !important;
    }

    .active {
        background-color: #04AA6D;
        color: white;
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    #hero-section {
        margin: 0;
        padding: 12px;
    }

    .icon {
        font-size: var(--font-bigger-mid);
        color: var(--accent);
    }

    #hamburger-icon i {
        transition: all 100ms ease-in-out !important;
    }

    .flex-container {
        justify-content: space-between;
    }

    .hero-container, .section-container {
        display: flex;
        flex-flow: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 12px !important;
    }


    .cards-container {
        flex-flow: column;
        gap: 20px;
    }

    .why-us {
        flex-flow: column;
    }

    .action-button, .empty-button {
        display: inline-flex;
        align-items: center;
        font-size: var(--font-mid);
        height: var(--font-large);
        text-align: center;
        line-height: var(--font-mid);
        padding: 8px 24px;
    }

    h2 {
        margin-bottom: 12px !important;
    }

    .benefits-text-container {
        width: 100%;
    }

    .footer-section {
        text-align: left;
    }

    html {
        scroll-behavior: smooth;
        height: 100%;
        overflow: hidden;
    }

    body {
        height: 100%;
        overflow-x: hidden;
    }

    .benefits-text {
        text-align: justify !important;
    }

    .faq-container {
        justify-content: center;
        align-items: center;
    }

    .faq-text {
        padding: 0px;
    }

    .faq {
        width: 90%;
        font-size: 14px;
    }

        .faq p {
            padding-bottom: 32px;
        }
}
