

.chart-container {
    width: 100%;
    height: 100%;
    min-height: 300px; /* Ensures visibility on small screens */
    position: relative;
}

.orders-stat-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.offer-item {
    background-color: var(--background-dark);
    color: var(--text-grey);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 430px;
    height: 100px;
    transition: 200ms all ease-in-out;
}

    .offer-item:hover {
        background: var(--accent);
        color: white;
    }

.discover-categories {
    display: flex;
    gap: 12px;
}

.discover-section {
    display: flex;
    flex-flow: column;
    gap: 12px;
}

.category h2 {
    font-size: var(--font-large);
}

.category {
    flex: 1;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    padding: 20px;
}

    .category.vegetables {
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('../Images/categories/vegetables.jpg');
        object-fit: contain;
        background-size: cover;
        background-position: center;
    }

    .category.fruits {
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('../Images/categories/fruits.jpg');
        object-fit: contain;
        background-size: cover;
        background-position: center;
    }

    .category.dairy {
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('../Images/categories/dairy.jpg');
        object-fit: contain;
        background-size: cover;
        background-position: center;
    }

    .category.meat {
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url('../Images/categories/meat.jpg');
        object-fit: contain;
        background-size: cover;
        background-position: center;
    }

    .category h2 {
        padding: 10px;
        text-align: left;
        border-radius: 5px;
    }

.offer-item__header {
    display: flex;
    gap: 22px;
    align-items: center;
}

svg {
    fill: white !important;
}

.offer-item_icon {
    width: 50px;
    fill: #FAFAFA;
    color: #FAFAFA;
}

.offer-item__title a {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-light);
    text-decoration: none;
    margin-right: 10px;
}

.offer-item__rating {
    margin-left: 5px;
}

.offer-item__rating-star {
    font-size: 18px;
}

.offer-item__description {
    margin-top: 10px;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}

.offer-item__details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.offer-item__location, .offer-item__price {
    font-size: 14px;
}

.offer-item__price {
    color: var(--text-light);
}

#sidebar-login-partial {
    display: none;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

#cart-icon:after {
    content: var(--cart-items);
    position: absolute;
    background: var(--accent);
    color: white;
    font-weight: 700;
    right: 5px;
    top: 5px;
    border-radius: 99px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    text-align: center;
    font-size: 12px;
}

html {
    position: relative;
    min-height: 100%;
}

/* Home */



/* Cart */







#offer-reviews {
    width: 90%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.offer-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    background: white;
    border-radius: 12px;
}





.clear-button {
    background: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}





.quantity-input {
    width: 42px;
    padding: 0px;
    text-align: right;
}

.quantity-form {
    display: flex;
    flex-flow: column;
    gap: 12px;
}


/* Order Details */

.order-section {
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

    table th, table td {
        border: 1px solid black;
        padding: 8px 12px;
        text-align: left;
    }

    table th {
        background-color: #f2f2f2;
    }

    table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    table td:hover {
        background-color: #d0e7ff;
    }

.order-section h1, .order-section h2 {
    margin-bottom: 20px;
}

/* Statistics */

.stats-section {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.stats-container {
    padding: 12px;
    border-radius: 12px;
    background: var(--background-light);
    width: 32%;
    height: 280px;
}


/* History */

.history-purchase-orders-container {
    display: none;
    height: 0;
    transition: 300ms all ease-in-out;
    width: 100%;
}


.history-purchase-orders-container.active {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
    height: auto;
}

.history-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 12px;
    text-align: center;
    background: var(--background-light);
    border-radius: 12px;
}

.strikethrough {
    position: relative;
    color: red;
}

    .strikethrough::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 2px;
        background-color: red;
    }

.history-purchase {
    display: flex;
    flex-flow: column;
    background: var(--background-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.history-container h1 {
    margin-top: 42px;
}


.history-purchases-container {
    display: flex;
    flex-flow: column;
    gap: 12px;
    width: 900px;
    min-height: 100% auto;
    background: var(--grey-light);
    border-radius: 12px;
    padding: 12px;
}


.history-purchase-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0px 24px;
    width: 100%;
    align-items: center;
}

.history-purchase-container__description {
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.history-purchase-container-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 12px;
    border-radius: 12px;
    width: 100%;
    padding: 0px 24px;
    align-items: center;
}

.history-purchase-container__subtitle {
    font-weight: 300;
    font-size: 22px;
}

/* layout */
main {
    display: flex;
    height: 100vh;
}



header {
    max-width: 100%;
    height: 62px;
    background-color: var(--background-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}







.nav-link {
    text-decoration: none;
    color: var(--background-dark);
    font-size: var(--font-mid);
    font-family: Arial;
    font-weight: 600;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}









    

input {
    height: var(--font-large);
    border-radius: 20px;
    padding-left: 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



    



.offer-partial-container {
    background: var(--background-light);
    border-radius: 20px;
    padding: 12px 18px 12px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    .offer-partial-container form button {
        background: none;
        border: none;
        padding: 0;
        font-size: var(--font-large);
    }

.offer-partial-form-buttons-container {
    display: flex;
    gap: 24px;
}

.offer-link {
    text-decoration: none;
    color: inherit;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 112px;
    width: 100%;
    height: 100%;
}

    .profile-container .image-display {
        max-width: 50% !important;
    }

.image-display {
    border-radius: 20px;
    max-width: 700px;
    max-height: 500px;
    object-fit: contain;
}

.profile-description {
    margin: 20px 0;
}

.profile-data-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.profile-section {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}



i {
    font-size: var(--font-large);
}



/*Overview*/

.overview-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "money reviews"
        "money reviews"
        "orders reviews"
        "orders stocks"
        "orders stocks";
    gap: 12px;
}

.overview-container .orders {
    grid-area: orders;
    background: var(--background-light);
    border-radius: 10px;
    padding: 12px;
}

.overview-container .money {
    height: 100%;
    grid-area: money;
    background: var(--background-light);
    border-radius: 10px;
    padding: 12px;
}

.overview-container .reviews {
    grid-area: reviews;
    background: var(--background-light);
    border-radius: 10px;
    padding: 12px;
}

.overview-container .stocks {
    grid-area: stocks;
    background: var(--background-light);
    border-radius: 10px;
    padding: 12px;
}

/*Orders*/
.left {
    grid-area: left;
    background: var(--background-light);
    border-radius: 10px;
}

.money {
    height: 330px;
    grid-area: money;
    background: var(--background-light);
    border-radius: 10px;
}

.accepted {
    grid-area: accepted;
    background: var(--background-light);
    border-radius: 10px;
}

.orders-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "left accepted"
        "left accepted"
        "left accepted"
        "money accepted"
        "money accepted";
    gap: 12px;
}

    .orders-container > div {
        padding: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 1px 1.5px 3px;
    }

.centered-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 22px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning {
    color: darkred;
}



.scrollable {
    overflow-y: scroll;
    padding-left: 10px;
}



.denied {
    background: var(--background-dark);
    color: var(--text-grey);
}

.gapped {
    display: flex !important;
    flex-flow: column !important;
    gap: 8px !important;
}



#image-display {
    background: var(--text-grey);
    min-height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 0;
    padding: 12px;
}

#image-input {
    display: none;
}


.select-language {
    border: none;
    outline: none;
    font-size: 12px;
    color: var(--text-dark);
    width: 100px;
    text-align: center;
    border-radius: 12px;
}

    .select-language:hover {
        cursor: pointer;
    }

.custom-file-upload {
    border: 1px solid #ccc;
    text-align: center;
    background: var(--accent);
    color: white;
    border-radius: 20px;
    font-size: var(--font-mid);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
}

.action-button {
    border: 1px solid #ccc;
    text-align: center;
    background: var(--accent);
    color: white;
    border-radius: 20px;
    font-size: var(--font-mid);
    padding: 6px 12px;
    cursor: pointer;
    max-width: 100%;
}

.offers-container {
    width: 100%;
    display: flex !important;
    flex-flow: row !important;
    flex-wrap: wrap !important;
}

.offer-partial-description {
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

.add-review-form {
    display: flex;
    flex-flow: column;
    gap: 12px;
}

/*Offer Description*/
.offer-section {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.offer-container {
    display: flex;
    width: 90%;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}

.offer-data-container {
    display: flex;
    flex-flow: column;
    gap: 12px;
}

    .offer-data-container h1 {
        font-size: 42px;
    }

    .offer-data-container h3, .offer-data-container h3 i {
        font-size: var(--font-mid);
    }

    .offer-data-container .offer-item__rating-star {
        font-size: var(--font-large);
    }

.offer-date__undertitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

hr {
    margin-top: 2px;
    margin-bottom: 4px;
}

.offer-description {
    margin: 22px 0px;
}


/* Chats */


.hidden {
    display: none !important;
}

/* General Split-Screen Layout */
.split-screen {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f4f4f4;
}

    .left-panel .login-form {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }

    .left-panel h2 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        color: #333;
    }

    .left-panel input {
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

.discover-offers {
    gap: 12px;
    width: 100%;
    display: flex !important;
    flex-flow: row !important;
    flex-wrap: wrap !important;
    justify-content: center;
}

.left-panel .custom-file-upload {
    width: 100%;
    padding: 0.8rem;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

    .left-panel .custom-file-upload:hover {
        background-color: #0056b3;
    }

.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

    .right-panel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



@media screen and (max-width: 580px) {
    .page-container {
        overflow-y: scroll;
    }

    .stats-section {
        display: flex;
        width: 100%;
        flex-flow: column;
    }

    .stats-container {
        width: 100%;
    }

    .offer-container {
        flex-flow: column;
    }

    .offer-data-container h1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .offer-item {
        width: 100%;
    }

    .offer-item__rating {
        font-size: 8px;
    }

    .split-screen {
        flex-direction: column;
    }

    .left-panel {
        flex: none;
        height: 100vh;
        justify-content: center;
    }

    .right-panel {
        display: none;
    }

    

    .orders-container {
        display: flex;
        flex-flow: column;
        gap: 8px;
    }


    .overview-container {
        display: flex;
        flex-flow: column;
        gap: 8px;
    }

    .scrollable {
        overflow-y: visible;
        padding-left: 0px;
        height: auto;
    }

    .orders {
        height: auto !important;
    }

    .gapped {
        height: auto;
    }

    .offer-partial-container {
        max-width: 100%;
    }

    .discover-categories {
        flex-direction: column;
        gap: 8px;
    }

    

    .form {
        width: 100%;
        margin: 20px 0px;
    }

    input {
        height: 42px;
    }



    

    .navbar-nav {
        display: none;
    }

    .search-container {
        padding: 0;
        justify-content: space-between;
        width: 80%;
    }

    

    


    

    
}
