#hamburger-icon {
    display: none;
    font-size: var(--font-large);
}

.w-400 {
    width: 400px !important;
}

.color-green {
    color: var(--green);
}

.row {
    display: flex !important;
    flex-flow: row !important;
    gap: 12px;
}

.gap-12 {
    gap: 12px;
}

.align-items-center {
    align-items: center;
}

.js-content-between{
    justify-content: space-between;
}

.font-size-xl{
    font-size: 2.5rem;
}

.color-green {
    color: var(--green);
}

.color-orange {
    color: var(--orange);
}

.color-blue {
    color: var(--blue);
}

.color-red {
    color: var(--red);
}

.color-black{
    color: var(--text-dark);
}

.box-shadow {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.bg-green {
    background: var(--green) !important;
}

.bg-orange {
    background: var(--orange) !important;
}

.bg-red {
    background: var(--red) !important;
}