@using Market.Data.Models
@using Market.Services.Firebase
@model Purchase
@inject IFirebaseServive _service;
@{

    List<string>? imageURLs = ViewBag.ImageURLs as List<string>;
    ViewData["Title"] = "Cart";
    Model.Price = Model.Orders.Select(x => x.Price).Sum();
}

<div class="cart-container">
    <h1>Cart</h1>
    <div class="cart-orders-container">
        @for(int i = 0; i < Model.Orders.Count; i++)
        {
            Order order = Model.Orders.ToList()[i];

            <partial name="_CartOrderPartial" model="new CartOrderViewModel(order, imageURLs[i], Model.Orders.IndexOf(order))" />
            
        }
    </div>

    <div class="cart-purchase-container">
        <div class="cart-purchase-container-info">
            <h4>@(Model.Orders.Count) Orders</h4>
            <h4>@(Model.Price) BGN</h4>
        </div>
        <form class="cart-purchase-address-container" asp-action="Purchase" asp-controller="Cart">
            <input name="address" placeholder="Your Address" />
            <button class="action-button" type="submit">
                Purchase
            </button>
        </form>
    </div>

</div>
