@using Market.Models.DTO
@model List<OrderDTO>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    decimal quantity = Model.Select(x => x.Quantity).Sum();
}

<div class="widget new-orders-widget">
    <div class="new-orders-container">
        <div class="new-orders-widget-title">
            <h2>@(Model.Count) </h2>
            <i class="fa-solid fa-bag-shopping hide-responsive-1600 show-responsive-1024"></i>
        </div>
        
        <p class="hide-responsive-1024">@Localizer["NewOrders"]</p>
    </div>
    <div class="quantity-container">
        <div class="new-orders-widget-title">
            <h2>@(quantity)</h2>
            <strong class="hide-responsive-1600 show-responsive-1024">KG</strong>
        </div>
        
        <p class="hide-responsive-1024">@Localizer["Quantity"]</p>
    </div>
</div>