@model string
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    switch (Model)
    {
        case "add":
            <a asp-action="AddOffer" asp-controller="Offers" class="widget quick-action-widget">
                <i class="fa-solid fa-plus color-green"></i>
                <p class="quick-action__paragraph">@Localizer["AddOffer"]</p>
            </a>
            break;
        case "search":
            <a asp-action="AddOffer" asp-controller="Offers" class="widget quick-action-widget">
                <i class="fa-solid fa-magnifying-glass color-black"></i>
                <p class="quick-action__paragraph">@Localizer["Search"]</p>
            </a>
            break;
        case "language":
            <a class="widget quick-action-widget">
                <i class="fa-solid fa-globe color-blue"></i>
                <p class="quick-action__paragraph">@Localizer["Language"]</p>
            </a>
            break;
        case "help":
            <a asp-action="Help" asp-controller="Home" class="widget quick-action-widget">
                <i class="fa-solid fa-question color-orange"></i>
                <p class="quick-action__paragraph">@Localizer["Help"]</p>
            </a>
            break;
    }
}
