@{
    ViewData["Title"] = "Help";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/home/help/layout.css">
}


<div class="help-container">
    <h1>Help Section</h1>

    <div class="help-overview">
        <a href="#dashboard">Dashboard</a>
        <a href="#orders">Orders</a>
        <a href="#offers">Offers</a>
        <a href="#stocks">Stocks</a>
        <a href="#history">History</a>
        <a href="#reviews">Reviews</a>
    </div>

    <div class="help-section" id="dashboard">
        <h2>Dashboard</h2>
        <img src="~/Images/overview.png" alt="Dashboard Image">
        <p>The Dashboard provides an overview of your activities and metrics. Here, you can see your recent performance, quick links to important sections, and personalized tips.</p>
    </div>

    <div class="help-section" id="orders">
        <h2>Orders</h2>
        <img src="~/Images/orders.png" alt="Orders Image">
        <p>In the Orders section, you can view and manage all your orders. Track the status of your orders, view order details, and initiate returns or refunds if necessary.</p>
    </div>

    <div class="help-section" id="offers">
        <h2>Offers</h2>
        <img src="~/Images/offers.png" alt="Offers Image">
        <p>The Offers page showcases current promotions, discounts, and special deals available to you. Stay updated with the latest offers to maximize your savings.</p>
    </div>

    <div class="help-section" id="stocks">
        <h2>Stocks</h2>
        <img src="~/Images/stocks.png" alt="Stocks Image">
        <p>Here, you can manage your stock inventory. Monitor stock levels, restock items, and see insights on stock movement and trends to keep your inventory up-to-date.</p>
    </div>

    <div class="help-section" id="history">
        <h2>History</h2>
        <p>Unfinished<p>
    </div>

    <div class="help-section" id="reviews">
        <h2>Reviews</h2>
        <img src="~/Images/reviews.png" alt="Reviews Image">
        <p>In the Reviews section, you can read and manage customer reviews. Respond to feedback, address concerns, and view ratings to understand customer satisfaction.</p>
    </div>
</div>

