@using Market.Data.Models
@model List<Stock>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<section class="inventory-section">
    <div class="inventory-section-container">
        <h1>
            @Localizer["Title"]
        </h1>
        <div class="gapped scrollable inventory-stocks-container">
            @foreach (Stock stock in Model)
            {
                <partial name="_StockPartial" model="@stock" />
            }
        </div>
    </div>
</section>

